* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

*::selection {
  color: #fff;
  background-color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f7f7f7;
}
#nav {
  /* height: 100px; */
  width: 100%;
  /* background-color: burlywood; */
  position: fixed;
  z-index: 99;
  padding: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#nav-part1 {
  /* background-color: red; */
  height: 83px;
  overflow: hidden;
}
#nav-part1 svg {
  display: block;
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#links {
  padding: 10px;
}

#nav-part2 #links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  margin: 0 20px;
  /* font-family: "Gilroy"; */
}

#icons {
  padding: 10px;
  border-radius: 50px;
  background-color: #f7f7f7;
}

#nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
}

#cursor {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: blanchedalmond;
  position: fixed;
  /* transform: scale(0); */
  transform: translate(-50%, -50%) scale(0);
}
#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 25vh;
  /* background-color: cyan; */
}

#page1 h1 {
  font-size: 15.4vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 14vw;
  letter-spacing: -8px;
}

#video-container {
  height: 100vh;
  width: 100%;
  background-color: grey;
  margin-top: 1vw;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-container #play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  position: fixed;
  text-transform: uppercase;
  font-family: futura;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: aliceblue;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  /* background-color: red; */
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

#page2 .elem .dets {
  height: 50px;
  width: 70%;
  border-radius: 50px;
  z-index: 9;
  position: absolute;
  background-color: palegoldenrod;
}

#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.child {
  height: 36vw;
  width: 46vw;
  /* background-color: red; */
  /* border: 2px solid #000; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child img {
  height: 100%;
}

@media (max-width: 600px) {
  #nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  #nav-part1 {
    /* background-color: red; */
    height: 62px;
    overflow: hidden;
  }
  #nav-part1 svg {
    display: block;
    height: 62px;
    width: 80px;
  }

  #nav #twogoodlogo {
    height: 40px;
    margin-left: -20px;
  }

  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #links {
    display: none;
    padding: 10px;
  }

  #icons {
    padding: 7px;
    border-radius: 50px;
    background-color: #f7f7f7;
  }

  #nav-part2 #icons i {
    font-size: 15px;
    margin: 0 20px;
    font-weight: 100;
  }

  #page1 {
    min-height: 70vh;
    position: relative;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
    /* background-color: cyan; */
  }

  #page1 h1 {
    font-size: 16vw;
    letter-spacing: -2px;
  }

  #video-container {
    height: 25vh;
    width: 100%;
    margin-top: 3vw;
  }

  #video-container #play {
    padding: 12vw 10vw;
    font-size: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    background-color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 3vw;
    justify-content: space-between;
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2vw;
  }

  #page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
  }

  #page2 .elem .dets {
    height: 30px;
    width: 70%;
    border-radius: 50px;
    z-index: 9;
    position: absolute;
    background-color: palegoldenrod;
  }

  #page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .child {
    height: 66vw;
    width: 56vw;
    /* background-color: red; */
    /* border: 2px solid #000; */
    padding: 5vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child img {
    height: 100%;
  }
}
